<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Jobeet2{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1><a href="{ path('home') }}">Jobeet2 !</a></h1>
        <h2>The Jobeet tutorial for Symfony2</h2>
        <hr/>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>