{% if jobs|length %}
    <div id="job_history">
        Recent viewed jobs:
        <ul>
            {% for i, job in jobs %}
                <li>
                    <a href="{{ path('job_show_user', job.showRouteParameters) }}">
                        {{ job.position }} - {{ job.company }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}