{% if jobs|length %}
    <div id="job_history">
        Recent viewed jobs:
        <ul>
            {% for i, job in jobs %}
                <li>
                    <a href="{{ path('job_show_user', { id:job.id, company_slug:job.companySlug, location_slug:job.locationSlug, position_slug:job.positionSlug }) }}">
                        {{ job.position }} - {{ job.company }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}