{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/job.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Edit Job</h1>

{% include 'Jobeet2Bundle:Job:_form.html.twig' with {'form': form, 'fields': fields } %}

<ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}