{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/job.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Post a Job</h1>

{% include 'Jobeet2Bundle:Job:_form.html.twig' with { route: 'job_create' } %}

{% endblock %}