{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Jobs in the {{ category.name }} category{% endblock %}

{% block body %}
<div class="category">
  <div class="feed">
    <a href="">Feed</a>
  </div>
  <h1>{{ category.name }}</h1>
</div>

{% include 'Jobeet2Bundle:Job:_list.html.twig'  with {'category': category} %}

{% endblock %}